<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM
        "https://testng.org/testng-1.0.dtd">

<suite name="HeliosAutomation"
       parallel="methods"
       thread-count="3">

    <test name="Local">
        <classes>
            <class name="com.helios.tests.BrowserSmokeTest"/>
        </classes>
    </test>

</suite>